1.Tạo dữ liệu

In [3]:
import pandas as pd

data = {
    "id": [1, 2, 3, 4, 5, 6],
    "name": ["Anh", "Em", "Phong", "Phú", None, None],  # Đã thêm None vào đây
    "age": [15, 14, 18, 27, 50, None],  # Thêm None vào age để bằng độ dài
    "email": ["anh@vlu.edu.vn", "em@gmail.com", "phong@vanlanguni.vn", "phu@yahoo.com", None, None], # Thêm None vào email để bằng độ dài
    "salary": [None, 70000, 10000, 250000, 15000, None]  # Thêm None vào salary để bằng độ dài
}

df = pd.DataFrame(data)
print(df)

   id   name   age                email    salary
0   1    Anh  15.0       anh@vlu.edu.vn       NaN
1   2     Em  14.0         em@gmail.com   70000.0
2   3  Phong  18.0  phong@vanlanguni.vn   10000.0
3   4    Phú  27.0        phu@yahoo.com  250000.0
4   5   None  50.0                 None   15000.0
5   6   None   NaN                 None       NaN

In [4]:
#Lấy ra 5 dòng đầu tiên

df.head()

   id   name   age                email    salary
0   1    Anh  15.0       anh@vlu.edu.vn       NaN
1   2     Em  14.0         em@gmail.com   70000.0
2   3  Phong  18.0  phong@vanlanguni.vn   10000.0
3   4    Phú  27.0        phu@yahoo.com  250000.0
4   5   None  50.0                 None   15000.0

In [5]:
# Kiểm tra dữ liệu thiếu
df.isnull().sum()

id        0
name      2
age       1
email     2
salary    2
dtype: int64

In [6]:
#Điền giá trị thiếu bằng giá trị
df["salary"].fillna(df["salary"].mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_36724\171931592.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(df["salary"].mean(), inplace=True)

In [7]:
#Điền giá trị thiếu bằng Unknor cho cột "Name" và cột "email"
df["name"].fillna("Unknow", inplace=True)
df["email"].fillna("Unknow", inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_36724\4029455199.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("Unknow", inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_36724\4029455199.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["email"].fillna("Unknow", inplace=True)

In [8]:
#Kiểm tra lại dữ liệu thiếu
df.isnull().sum()

id        0
name      0
age       1
email     0
salary    0
dtype: int64

In [9]:
df.head()

   id    name   age                email    salary
0   1     Anh  15.0       anh@vlu.edu.vn   86250.0
1   2      Em  14.0         em@gmail.com   70000.0
2   3   Phong  18.0  phong@vanlanguni.vn   10000.0
3   4     Phú  27.0        phu@yahoo.com  250000.0
4   5  Unknow  50.0               Unknow   15000.0

In [10]:
#Chuẩn hóa cột name bằng cách viết hoa chữ cái đầu
df["name"]= df["name"].str.title()

In [11]:
#Chuẩn hóa cột email bằng cách chuyển về chữ thường
df["email"]=df["email"].str.lower()

df

   id    name   age                email    salary
0   1     Anh  15.0       anh@vlu.edu.vn   86250.0
1   2      Em  14.0         em@gmail.com   70000.0
2   3   Phong  18.0  phong@vanlanguni.vn   10000.0
3   4     Phú  27.0        phu@yahoo.com  250000.0
4   5  Unknow  50.0               unknow   15000.0
5   6  Unknow   NaN               unknow   86250.0

In [12]:
#Lưu dữ liệu đã làm sạch
df.to_csv("Dulieulamsach.csv", index=False)

# BÀI TẬP VỀ NHÀ

 
### Cho dữ liệu dirty_data.csv
1. Kiểm tra dữ liệu bị thiếu:
    - Kiểm tra các cột nó dự liệu thiếu
    - Điền giá trị phù hợp hoặc loại bỏ các hàng có quá nhiều dữ liệu thiếu
2. Phát hiện và sửa lỗi dữ liệu bất thường:
    - Tìm các giá trị bất thường trong cột tuổi có thể là âm hoặc quá lớn
    - Kiểm tra cột thu nhập(incom) để phát triển dữ liệu bị sai
3. Chuẩn hóa dạng dữ liệu
    - Chuyển đổi cột ngày sinh về dạng chuẩn yyyy-mm-dd
    - Chuẩn hóa dữ liệu trong cột giới tính(gender) để chỉ có 2 giới tính hợp lệ là "Male" và "Female"
4. Xóa bỏ dữ liệu trùng lập
    - Xác định và xóa các bản ghi trùng lặp dựa trên thông tin khách hàng
5. Xuất dữ liệu sạch:
    - Lưu tập dữ liệu đã làm sách thành tệp mới clean_data.csv

In [21]:
import pandas as pd

df = pd.read_csv('dirtydata.csv')
print(df.head())

# Kiểm tra dữ liệu thiếu
print(df.isnull().sum())

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
# 1. Kiểm tra và xử lý dữ liệu thiếu
print("Số lượng dữ liệu thiếu ở mỗi cột:")
print(df.isnull().sum())

# Điền giá trị thiếu bằng trung bình của cột tuổi
df['tuổi'].fillna(df['tuổi'].mean(), inplace=True)

# Loại bỏ các hàng có nhiều hơn 3 giá trị thiếu
df.dropna(thresh=len(df.columns) - 3, inplace=True)

# 2. Phát hiện và sửa lỗi dữ liệu bất thường
print("\nCác giá trị tuổi âm:")
print(df[df['tuổi'] < 0])

print("\nCác giá trị tuổi quá lớn:")
print(df[df['tuổi'] > 150])

print("\nCác giá trị thu nhập âm:")
print(df[df['thu nhập'] < 0])

# 3. Chuẩn hóa dạng dữ liệu
df['ngày sinh'] = pd.to_datetime(df['ngày sinh'], format='%Y-%m-%d')

df['giới tính'] = df['giới tính'].str.strip().str.lower()
df['giới tính'].replace({'male': 'Male', 'female': 'Female'}, inplace=True)

# 4. Xóa bỏ dữ liệu trùng lặp
print("\nCác bản ghi trùng lặp:")
print(df[df.duplicated(subset=['tên', 'địa chỉ', ...], keep=False)])

df.drop_duplicates(subset=['tên', 'địa chỉ', ...], keep='first', inplace=True)

# 5. Xuất dữ liệu sạch
df.to_csv('clean_data.csv', index=False)

print("\nĐã lưu dữ liệu sạch vào tệp clean_data.csv")